doctype html

- var roomID = room.id

html(lang="en")
    p(hidden="true", id="roomID")= roomID
    head
        title Game
        link(rel="stylesheet", type="text/css", href="/static/style.css")
    body
        div(class="fixed-topleft")
            //- p(class="subtle") Total viewers
            button(onclick="forceDeal()") Redeal

    script(src="/static/jquery-3.1.0.min.js")
    script(src="/static/js.cookie.js")
    script(src="/socket.io/socket.io.js")
    script(src="/static/cards.js")
    script(src="/static/utility.js")
    script(src="/static/games/" + room.type + "/game.js")

